<div class="contenedor col-s-12">
  <div class="contenedor1 col-s-12">
    <div  *ngIf="cargarse; else alerta2">
        <div class="alert alert-danger alertaerror" role="alert">
          ERROR EN EL ARCHIVO
        </div>
      <div class="alert alert-warning alertapeligro" role="alert">
        NO SE PUDO SUBIR EL ARCHIVO
        </div>
    </div>
    <ng-template #alerta2>
      
    </ng-template>

      <div  *ngIf="cargarse; else titulo1">
        <h1>VALIDACIÓN INCORRECTA DE LA INFORMACIÓN</h1>
      </div>
      
    <ng-template #titulo1>
        <h1>TERMINO EL PROCESO</h1>
    </ng-template>

  </div>
    <div class="contenedor2 col-s-12">
      <ng-template #mensajeeroneo>
        <!-- IMAGEN DE LA CARGA DE LOS ARCHIVOS -->
        <div class="okmensaje">
          <img src="../../../../assets/images/error.jpg" style="width: 14%;">
        </div>
      </ng-template>
      <!-- Seleccionar el Archivo de los datos -->
      <div *ngIf="cargarse; else mensajeeroneo" >
        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <table class="table" style="width: 100%;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-warning">
              Descargar
            </button>
          </div>
        </div>
      </div>   
      <!-- Siguiente pantalla de las pagina web -->
      <!-- Fin de la pagina 2  -->
    </div>
  
    <!-- FLECHAS QUE SE CARGAN CONSECUTIVAMENTE -->

    <div class="contenedor3 col-s-12">
      <div class="row">
        <div class="col" >
          <div id="imagen">
            <img src="../../../assets/images/Iconos/fecha1.png">
          <div class="texto_centrado">Subir Archivo</div>
        </div>
            <div class="col cajaprincipal primero ">
              <div class="cajarelleno primeros"></div>
                <div>
                  <table  class="cajatexto">
                    <tr>
                        <td>Tiempo estimado</td>
                        <td>:0min</td>
                    </tr>
                    <tr>
                        <td>Porcentaje de carga</td>
                        <td>:0%</td>
                    </tr>
                    <tr>
                      <td>Tamaño de Archivo</td>
                      <td>:0mb</td>
                    </tr>
                 </table>
                </div>
              </div>
        </div>
        
        <div class="col">
          <div id="imagen">
              <img src="../../../assets/images/Iconos/fecha2.png">          
            <div class="texto_centrado">Transformar</div>
          </div>
            <div class="col cajaprincipal segundo ">
              <div class="cajarelleno segundos"></div>
              <div>
                <table  class="cajatexto">
                  <tr>
                      <td>Copiar Archivos</td>
                      <td>:0%</td>
                  </tr>
                  <tr>
                      <td>Converción TXT</td>
                      <td>:0%</td>
                  </tr>
                  <tr>
                    <td>Mover archivo a Historicos</td>
                    <td>:0%</td>
                  </tr>
               </table>
              </div>
            </div>
        </div>

        <div class="col">
          <div id="imagen">
              <img src="../../../assets/images/Iconos/fecha3.png">
            <div class="texto_centrado">Validacion</div>
          </div>
            <div class="col cajaprincipal tercero ">
              <div class="cajarelleno terceros"></div>
              <div>
                <table  class="cajatexto">
                  <tr>
                      <td>Subir Archivo BD</td>
                      <td>:0%</td>
                  </tr>
                  <tr>
                      <td>Ejecutar Validación</td>
                      <td>:0%</td>
                  </tr>
                  <tr>
                    <td>Generardor de Errores</td>
                    <td>:0</td>
                  </tr>
               </table>
              </div>           
            </div>
        </div>

        <div class="col" id="imagen">
          <div id="imagen">
            <img src="../../../assets/images/Iconos/fecha5.png" *ngIf="cargarse; else imagen4">
            <ng-template #imagen4>
              <img src="../../../assets/images/Iconos/fecha4.png">
            </ng-template>
            <div class="texto_centrado">Asignar</div>
          </div>
          <div class="col cajaprincipal plomo " *ngIf="cargarse; else texto4">
            <div class="cajarelleno plomos"></div>
            <div>
              <table  class="cajatexto">
                <tr>
                    <td>Distribuir a Campaña</td>
                    <td>:0min</td>
                </tr>
             </table>
            </div>
          </div>        
        </div>
      </div>
      <ng-template #texto4>
        <div class="col cajaprincipal cuarto ">
          <div class="cajarelleno cuartos"></div>
          <div>
            <table  class="cajatexto">
              <tr>
                  <td>Distribuir a Campaña</td>
                  <td>:0min</td>
              </tr>
           </table>
          </div>
        </div>  
      </ng-template>
    </div>

<!-- fin de la prueba de codigo -->

    <div class="row pie col-s-12">
      
      <div class="col" id="boton">
        <div *ngIf="cargarse; else botones2"></div>

        <ng-template #botones2>
          <div *ngIf="transformar;else botones22">
            <button class="btn btn-danger" type="button"  (click)="cargarse = !cargarse">
              Atras
            </button>
          </div>
        </ng-template>
      </div>

      <!-- ENTRADA DE LOS ARCHIVOS -->
      <div class="col" id="boton">
        
        <div *ngIf="cargarse;else botones1">
          <button class="btn btn-success" type="button" (click)="cargarse = !cargarse">
            Siguiente
        </button>
        </div>

        <ng-template #botones1>
          
        </ng-template>

      </div>
    </div>
</div>